---
---

@import 'main';

/* append your custom style below */
#main-wrapper {
    background-image: url(bg.webp);
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.highlight,
.highlight .w {
    background-color: rgba(21,21,21,0.4) !important;
}

%code-snippet-bg {
  background-color: rgba(21,21,21,0.4);
}
